# Python Basics
### basics

In [7]:
print('hello world')
name=input()

hello world
kunal

In [8]:
name*10

'kunalkunalkunalkunalkunalkunalkunalkunalkunalkunal'

In [10]:
num = input('what is ur age?')
print('you are', int(num) * 12, ' months old')

what is ur age?10
you are 120  months old

In [18]:
#for boolean 0 is false and all is true
a=0
bool(a)

False

In [22]:
x = 3.9
print((int(x)))

3

In [24]:
name = Varma

print(type(name))

NameError: name 'Varma' is not defined

In [32]:
a=17
b=7
print('div=',(a/b))
print('floor div=',(a//b))
print('modulas=',(a%b))
print('a ^b',a**2)

div= 2.4285714285714284
floor div= 2
modulas= 3
a ^b 289

In [33]:
#PEDMAS
print((4*5)-9+6/7)

11.857142857142858

In [34]:
x = 3
y = 2.5
z = 5
print(X + y / z)

NameError: name 'X' is not defined

In [35]:
#()>∗∗>//>%>+>−
4 % (1 + 9)**2 - 60 // (7 + 2)

-2

In [43]:
s = 'I love Python programming'
print(s[7:13])
print(s[-18:-12])

Python
Python

In [44]:
x = 'len'
x[len(x * 2) - 5]

'e'

In [53]:
'I love breaking bad'.count('a')
str='bmaunmdbraai'
count=0
if(count<len(str))

SyntaxError: invalid syntax (<ipython-input-53-27ba5e871f11>, line 4)

In [74]:
str='bmaunmdbraai'
l1=str[0::2]
l2=str[1::2]
print(l1+','+l2)

bandra,mumbai

### Data Structures

### List

In [28]:
list_x=['chemistry','biology',['nested','list'],9999]

In [11]:
list_x[2][1]

'list'

In [12]:
list_x

['chemistry', 'biology', ['nested', 'list'], 9999]

In [19]:
list_new=['new','items']

In [14]:
list_x=list_x+list_new

In [15]:
list_x

['chemistry', 'biology', ['nested', 'list'], 9999, 'new', 'items']

In [21]:
list_x=list_x+[5,8]
list_x

['chemistry', 'biology', ['nested', 'list'], 9999, 'new', 'items', 5, 8, 5, 8]

In [29]:
list_x.append([1,2,3])
list_x

['chemistry', 'biology', ['nested', 'list'], 9999, [1, 2, 3]]

In [30]:
list_x.extend([1,2,3])#extarcts and added one by one each eilement
list_x

['chemistry', 'biology', ['nested', 'list'], 9999, [1, 2, 3], 1, 2, 3]

In [31]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [32]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [33]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list

['SAS', 'R', 'PYTHON', 'SPSS']

In [35]:
input_list[-1]='SPARK'
input_list

['SAS', 'R', 'PYTHON', 'SPARK']

In [38]:
input_str=['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
string_1 = input_str[0]+' & '+input_str[1]
string_1

'Pythons syntax is easy to learn & Pythons syntax is very clear'

In [40]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list

[['SAS', 'R'], ['Tableau', 'SQL'], ['Python', 'Java']]

In [41]:
input_list[2][0]

'Python'

In [43]:
input_str = 'Kumar_Ravi_003'
input_list = input_str.split('_')
first_name = input_str.split('_')[0]
second_name =input_str.split('_')[1]
customer_code = input_str.split('_')[2]
print(first_name)
print(second_name)
print(customer_code)

Kumar
Ravi
003

In [44]:
t = (2,3.2,4,5)
print(sum(t),min(t),max(t))

14.2 2 5

In [45]:
t = ("disco", 12, 4.5)
t[0][2]

's'

In [64]:
t1=("ignou",)
t2=t[1:2]+(5,)
t[1:2]

(12,)

In [76]:
t = ("disco", 12, 4.5)
("kk",)+(t[0],)

('kk', 'disco')

In [77]:
x = sorted(t)
x

TypeError: '<' not supported between instances of 'int' and 'str'

In [78]:
x = (1,2,3,4)#packing
x

(1, 2, 3, 4)

In [79]:
(a,b,c,d)=x#unpacking
d

4

In [81]:
print(dir(x))#gives all avilable attributes

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [85]:
t = (1, 2, 4, 3)
print(len(t))

4

In [89]:
x = (Hello,'2','3')
type(x)

NameError: name 'Hello' is not defined

In [107]:
input_tuple = ('Monty Python', 'British', 1969)
x = list(input_tuple)
x.append('Python')
tuple_2 = tuple(x)

# Make sure to name the final tuple 'tuple_2'
print(tuple_2)

('Monty Python', 'British', 1969, 'Python')

In [109]:
##USING SETS
l1 = [1,2,3,4,5,5,5,5,5]
set1 = set(l1)
set1

{1, 2, 3, 4, 5}

In [110]:
set1.add('Australia')
set1

{1, 2, 3, 4, 5, 'Australia'}

In [112]:
set1.remove(5)#mutable
set1

{1, 2, 3, 4, 'Australia'}

In [115]:
# set operations
a ={0,2,4,6,8,1}
b={1,2,3,4,5}
print(a,b)

{0, 1, 2, 4, 6, 8} {1, 2, 3, 4, 5}

In [117]:
print(a|b)#union 
print(a.union(b))#union

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}

In [119]:
print(a&b)#intersaction
print(a.intersection(b))

{1, 2, 4}
{1, 2, 4}

In [120]:
print(a-b)#intersaction
print(a.difference(b))

{0, 8, 6}
{0, 8, 6}

In [121]:
print(a^b)# symmetric difference [values are in a and b but not in both - inverse of union]

{0, 3, 5, 6, 8}

In [128]:
A = [5, 1, 3, 4, 4, 5, 6, 7]
B = [3, 3, 5, 5, 1 ,7 ,2]
a=set(A)
b=set(B)
list(a.intersection(b))

[1, 3, 5, 7]

In [129]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

In [132]:
print(a,b)
print(a.union(b))
print(a.intersection(b))
(a.union(b)).difference(a.intersection(b))

{1, 3, 4, 5, 6, 7} {1, 2, 3, 5, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 3, 5, 7}

{2, 4, 6}

## Dictonary

In [133]:
d = {'India':'INR','US':'USA','France':'Euro'}
d

{'India': 'INR', 'US': 'USA', 'France': 'Euro'}

In [142]:
d.values()
d.update({'US':'$'})
d

{'India': 'INR', 'US': '$', 'France': 'Euro'}

In [143]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}
Employee_data

{101: ['Shiva', 24, 'Content Strategist'],
 102: ['Udit', 25, 'Content Strategist'],
 103: ['Sonam', 28, 'Sr Manager'],
 104: ['Ansari', 29, 'Product Lead'],
 105: ['Huzefa', 32, 'Project Manager']}

In [145]:
Employee_data[104][2]

'Product Lead'

In [149]:

d = ('a':1, 'b':2)
type(d)

SyntaxError: invalid syntax (<ipython-input-149-8553e05ced97>, line 1)

In [157]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }
input_dict.get('Name1','NA')

'NA'

In [158]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
input_dict

{'Jack Dorsey': 'Twitter',
 'Tim Cook': 'Apple',
 'Jeff Bezos': 'Amazon',
 'Mukesh Ambani': 'RJIO'}

In [160]:
sorted(input_dict.values())

['Amazon', 'Apple', 'RJIO', 'Twitter']

In [163]:
dict_1 = {"Python":40, "R":45}
dict_1

{'Python': 40, 'R': 45}

In [164]:
del dict_1['R']
dict_1

{'Python': 40}

In [165]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']

## Constol structures

In [2]:
X = 12

if (X > 10 & X < 15):
    print('YES')
else:
    print('No')

YES

In [3]:
a=10
b=16
c=20

if( # missing part 1 # ):
    print("a")
elif( # missing part 2 #):
    print("b")
else:
     print("c")

SyntaxError: invalid syntax (<ipython-input-3-01db183db5a4>, line 7)

In [4]:
if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

NameError: name 'score' is not defined

In [5]:
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [8]:
False or True

True

In [9]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

In [24]:
input_str = 'analytics'
if(input_str[0].lower() in ['a','e','i','o','u']):
    print('YES')
else:
    print('NO')
input_str[0:8]

YES

'analytic'

In [39]:
a = range(10,20,2)
for i in a:
    print(i,end=' ')

L1 = [10, 20, 30, 24, 18]
range(L1)

10 12 14 16 18

TypeError: 'list' object cannot be interpreted as an integer

In [53]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3=[]
for  i in range(len(L1)):
    print(L3.append(L1[i]-L2[i]))
L3

None
None
None
None
None

[2, 6, 15, 4, 8]

In [57]:
input_list = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']

for i in range(len(input_list)):
    input_list[i]=input_list[i].title()
    
print(input_list)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [84]:
for i in range(2,10):
    for j in range(2,i):
        if ((i%j)==0):
            print(i, ' is not prime')
            break;
        else:
            print(i,'prime')

3 prime
4  is not prime
5 prime
5 prime
5 prime
6  is not prime
7 prime
7 prime
7 prime
7 prime
7 prime
8  is not prime
9 prime
9  is not prime

In [86]:
list(range(-100, -1, 2))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [87]:
sorted(set(range(-2, -101, -2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [88]:
l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [89]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

## Comprehentions

In [1]:
l1 = ['automobiles','honda','benz','maruti','suzuki','hundai']

#noraml approach
for l in l1:
    print(len(l))

11
5
4
6
6
6

In [3]:
#using list comprehention
l2 =  [len(l) for l in l1]
l2

[11, 5, 4, 6, 6, 6]

In [4]:
l3 = [l.upper() for l in l1]
l3

['AUTOMOBILES', 'HONDA', 'BENZ', 'MARUTI', 'SUZUKI', 'HUNDAI']

In [7]:
#iterating l1 and l2 simulteniously

for i,j,k in zip(l1,l2,l3):
    print(i,' ',j,' ',k)

automobiles   11   AUTOMOBILES
honda   5   HONDA
benz   4   BENZ
maruti   6   MARUTI
suzuki   6   SUZUKI
hundai   6   HUNDAI

In [9]:
# dictonary comprehension
l1 = ['AUTOMOBILES', 'HONDA', 'BENZ', 'MARUTI', 'SUZUKI', 'HUNDAI']

#cereate dict with l1 as key and len as value

d = {word:len(word) for word in l1}
d

{'AUTOMOBILES': 11,
 'HONDA': 5,
 'BENZ': 4,
 'MARUTI': 6,
 'SUZUKI': 6,
 'HUNDAI': 6}

In [11]:
d1 = {len(word):word for word in l1}
d1

{11: 'AUTOMOBILES', 5: 'HONDA', 4: 'BENZ', 6: 'HUNDAI'}

In [19]:
# set comprehensions
# write a program to take word from user and print vowels

word =input('enter a word : ')
vowels={'a','e','i','o','u'}

s = set(word)
vowels.intersection(s)

enter a word : book worm is kunal the great

{'a', 'e', 'i', 'o', 'u'}

In [22]:
# using set comprehension
word =input('enter a word : ')
ss = {char for char in word if char in ('a','e','i','o','u')}
ss

enter a word : kunal

{'a', 'u'}

In [26]:
word =input('enter a word : ')
## ss =  { [operation] for var in [] -  condiction if any }
ss = {k for k in word}
ss

enter a word : kunal

{'a', 'k', 'l', 'n', 'u'}

In [37]:
num = int(input('input a number : '))
for i in range(1,num+1):
    print(i)
sq = [x*x for x in range(1,num+1)]
print(sq)

input a number : 5
1
2
3
4
5
[1, 4, 9, 16, 25]

In [43]:
input_list=['wood', 'old', 'apple', 'big', 'item', 'euphoria']

print([v for v in input_list if v[0] in ('a','e','i','o','u')])

['old', 'apple', 'item', 'euphoria']

In [45]:
input_list = list(range(1,100))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3

output_dict

{3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

In [50]:
input_list = list(range(1,100))

output_dict = {x:x**3 for x in input_list if x%3==0}
output_dict

{3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

In [51]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [52]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

## Functions

In [75]:
#function to return factorial
#5 4 3 2 1
def fact(num):
    output=1    
    for i in range(1,num+1):
        output=output*i
    return output

fact(5)

120